


html {
	height: 100%;
	margin: 0; padding: 0; border: 0;
}

body {
	background-color: rgb(20, 120, 241);
	border-left: 10px solid gray;
	border-right: 10px solid gray;
	display: grid;
	float: left;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 1.25rem;
	line-height: 1.6;
	padding: 5px;
	border: dashed aqua;
	margin-inline: auto;
}


header {
	background-color: #4f18e7;
	border: dotted red; 
	display: flex; 
	gap: 50px; 
	justify-content: space-evenly;
}


.primary-navigation ul {
	display: flex; 
	gap: 20px; 
	list-style: none;
	margin: 0; 
}	

.primary-navigation {
	border: dashed chocolate;
	list-style: none;
}

.primary-navigation a {
	color: black;
	list-style: none;
	text-decoration: none;
	text-align: left;
	font-size: rem1.6;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.primary-navigation a:hover {
	color: rgb(169, 240, 38); 
	background-color: rgb(43, 20, 126);

}

img {
	display: block; 
	max-inline-size: 75%;
}

video {
	display: block;
	max-inline-size: 75%;
}
/* Following mobile first - range media queries*/ 
h1 {
	text-emphasis: strong;
	color: #141414;
	background-color: rgb(233, 230, 40);
	border: dotted rgb(204, 238, 55);
	text-align: center;
	font-size: 3rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

	@media (width > 600px){
			font-size: 5rem;
		}
}

h2 {
	text-align: start;
	text-decoration: none;
	border: dashed green;
	font-size: 2rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
	background-color: #79c3e6;
	border: dashed silver;
	text-align: justify;
	display: block;
	padding: 15px; 
}


aside {
	display: block;
	border: black;
	background-image: url("ChicagoFlag.png");
	
}


h3 {
	text-decoration: none;
}

ul { 
	list-style: square;
	margin-left: 70px;
}

footer {
	border: dotted rgb(198, 241, 78); 
}

.two-c {
	display: grid;  
	gap: 30px; 
	margin-block-end: 60px;
	background-color: yellow;
	border: dotted red; 
	@media (width > 600px) {
		grid-template-columns: 1fr 1fr;
		background-color: rgb(140, 67, 223);
		border: dotted yellow
	}
}

.weather {
	background: white blue; 
	border: 10px outset rgb(153, 0, 153);
	font-size: .75em;
	width: 100%;
	text-align: center;
	margin-inline: 5px;
}

th {
	background-color: #11486d;
	color: silver;
	font-weight: 900;
	border: black double; 
}

td {
	text-align: center;
	border: black double;
	vertical-align: middle;
}

td:nth-child(2n+1) {
	background-color: white; 
}
.grey-bg {
	background-color: grey;
	padding: 10px;
}

.footer {
	background-color: #79c3e6;
	border: dotted yellowgreen;
	list-style: none;
	display: flex;
	text-align: start;
	margin-bottom: 0;
	margin-inline-start: 0;
	margin-top: 0;
}

.aboutKatharine { 
	background-image: url("../Reidy_HDR_PORTRAIT.jpg");
	border: dotted rgb(128, 0, 96);
	color: rgb(37, 14, 92);
	padding: 12px; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #36093f;
}