


html {
	height: 100%;
	margin: 0; padding: 0; border: 0;
}

body {
	background-color: rgb(20, 120, 241);
	border-left: 10px solid gray;
	border-right: 10px solid gray;
	display: grid;
	float: left;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 1.25rem;
	line-height: 1.6;
	padding: 5px;
	border: dashed aqua;
	max-inline-size: 1000px;
	margin-inline: auto;
}


header {
	background-color: #4f18e7;
	border: dotted red; 
	display: flex; 
	gap: 50px; 
	justify-content: space-evenly;
}


.primary-navigation ul {
	display: flex; 
	gap: 20px; 
	list-style: none;
	margin: 0; 
}	

.primary-navigation {
	border: dashed chocolate;
	list-style: none;
}

.primary-navigation a {
	color: black;
	list-style: none;
	text-decoration: none;
	text-align: left;
	font-size: rem1.6;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.primary-navigation a:hover {
	color: rgb(169, 240, 38); 
	background-color: rgb(43, 20, 126);

}

img {
	display: block; 
	max-inline-size: 100%;
}

/* Following mobile first - range media queries*/ 
h1 {
	text-emphasis: strong;
	color: #141414;
	border: dotted rgb(204, 238, 55);
	text-align: center;
	font-size: 2rem;

	@media (width > 600px){
			font-size: 5rem;
		}
}

h2 {
	text-align: start;
	text-decoration: none;
	border: dashed green;
}

main {
	background-color: #79c3e6;
	border: dashed silver;
	text-align: justify;
	display: block;
	padding: 15px; 
}


aside {
	display: block;
	border: black;
	
}


h3 {
	text-decoration: none;
}

footer {
	text-align: start;
	text-decoration: none;
	color: #0b071bd8;
	background-color: #11486d;
	display: grid;
	border: dotted rgb(198, 241, 78);
	padding: 50px;  
}

.two-c {
	display: grid;  
	gap: 30px; 
	margin-block-end: 60px;
	background-color: yellow;
	border: dotted red; 
	@media (width > 600px) {
		grid-template-columns: 1fr 1fr;
		background-color: red;
		border: dotted yellow
	}
}

.grey-bg {
	background-color: grey;
	padding: 10px;
}

.footer {
	background-color: #79c3e6;
	text-decoration: none;
	text-align: justify;
	border: dotted yellowgreen;
	list-style: none;
}

.aboutKatharine { 
	background-image: url("../Reidy_HDR_PORTRAIT.jpg");
	border: dotted rgb(128, 0, 96);
	color: rgb(37, 14, 92);
	padding: 12px; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #36093f;
}